target/
out/
release/
runtime/
src/other_resources/
linux/
windows/
dependencies/

.idea/
*.iml

*.class
*.jar
*.log
*.tmp
*.bak
*.orig

.DS_Store
Thumbs.db
desktop.ini

.qodana/
qodana.sarif.json

*.dmg
*.pkg
*.deb
*.rpm
*.msi
*.exe
*.app/
*.app-image/
runtime/linux/jdk-26.0.1/
runtime/windows/jdk-26.0.1/
runtime/linux/javafx-sdk-26.0.1/
runtime/windows/javafx-sdk-26.0.1/
